<div class="jumbotron">
  <h1>Welcome to Todostrap</h1>
  <p>
    <%= link_to "Sign up", new_user_registration_path, role: :button, class: ["btn", "btn-primary", "btn-lg", "profile-link"]  %>
    <%= link_to "Login", new_user_session_path, role: :button, class: ["btn", "btn-primary", "btn-lg", "profile-link"]  %>
  </p>
</div>